<ion-tabs>
  <ion-tab-bar slot="bottom" class="hg-tabs">
    <ion-tab-button tab="book">
      <ion-icon name="tricycle" aria-hidden="true" />
      <ion-label>{{ 'tabs.book' | t }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rides">
      <ion-icon name="receipt-outline" aria-hidden="true" />
      <ion-label>{{ 'tabs.rides' | t }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person-circle-outline" aria-hidden="true" />
      <ion-label>{{ 'tabs.account' | t }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
